name: Compile JDK

on:
  push:
    branches: [ 11-dev ]
  pull_request:
    branches: [ 11-dev ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    # Platforms to build on/for
    strategy:
      matrix:
        os: [  macos-latest, ubuntu-16.04 ]

    steps:
      - uses: actions/checkout@v2
      
      - name: Prepare for Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install build-essential libfreetype6-dev libcups2-dev libx11-dev libxext-dev libxrender-dev libxtst-dev libxt-dev libasound2-dev libffi-dev autoconf libx11-dev libxext-dev libxrender-dev libxrandr-dev libxtst-dev libxt-dev libfontconfig1-dev

      - name: Prepare for Windows
        if: startsWith(matrix.os, 'windows')
        uses: egor-tensin/setup-cygwin@v3
        env:
          SHELLOPTS: igncr
        with:
          platform: x64
          packages: autoconf make unzip zip

      - name: Setup Java JDK
        uses: actions/setup-java@v1
        with:
          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
          java-version: 8

      - name: Configure
        run: bash configure
        
      - name: See GCC Version
        run: gcc --version
        
      - name: GNU Make
        run: make all-images
        
      - name: Verify newly built JDK
        run: ./build/*/images/jdk/bin/java -version

      - name: Install tree for macOS
        # find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install tree
        
      - name: See macOS or Linux built files
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          ls -alF ./build
          tree ./build
        
      - name: See Windows built files
        if: startsWith(matrix.os, 'windows')
        run: |
          dir .\build
          tree .\build
          
          
      - name: See macOS or Linux built images
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          ls -alF build/*/images
          tree build/*/images
        
      - name: See Windows built images
        if: startsWith(matrix.os, 'windows')
        run: |
          dir build\*\images
          tree build\*\images

#       - name: Run Basic Tests
#         if: startsWith(matrix.os, 'ubuntu')
#         run: make run-test-tier1


      - name: Package JDK for macOS
        if: startsWith(matrix.os, 'macos')
        run: |
          mv build/*/images/jdk-bundle/*.jdk ./
          tar -cvJf jdk-11-macos.tar.xz ./*.jdk
          
      - name: Package JDK for Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          mv build/*/images/jdk ./jdk-11.0.11
          tar -cvJf jdk-11-linux.tar.xz ./jdk-11.0.11

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: feature_test
          tag_name: feature_test
          prerelease: true
          files: |
            jdk-11-macos.tar.xz
            jdk-11-linux.tar.xz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
